.message {
    background: $white;
    margin: 4rem 0;
    padding: 2rem 1.5rem;
    height: 100vh;
    position: relative;
    .name {
        border-bottom: 2px solid #f7f7f7;
        font-size: 20px;
        font-weight: 900;
        width: 100%;
        height: 5vh;
        vertical-align: top;
    }
    .content {
        width: 100%;
        height: 75vh;
        padding: 2rem 0;
        font-size: 12px;
        .patient {
            background: #EDEDED;
            padding: 2rem;
            border-radius: 20px;
            float: left;
            max-width: 35%;
            clear: both;
        }
        .practice {
            background: rgba(0, 123, 255, 0.05);
            padding: 2rem;
            border-radius: 20px;
            float: right;
            max-width: 35%;
            clear: both;
            .meta {
                .name {
                    color: $blue;
                    font-weight: bold;
                }
            }
        }
    }
    .message-box {
        vertical-align: bottom;
        height: 10vh;
        width: 100%;
        border-top: 2px solid $light-gray;
        padding: 2rem 0;
        textarea {
            width: 100%;
        }
    }
}