.message-list {
    background: $white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    .search {
        padding: 1rem;
        .fa {
            color: #2c2c2c;
        }
        input {
            border: 0;
            width: 72%;
        }
        .fa-pencil-square {
            color: $blue;
            float: right;
            font-size: 25px;
            margin-top: 1rem;
        }
    }
    .date {
        display: block;
        background: #ededed;
        font-size: 16px;
        width: 100%;
        padding: 1rem;
    }
    .preview {
        font-size: 12px;
        border-bottom: 1px solid $light-gray;
        list-style-type: none;
        padding: 2rem;
        position: relative;
        margin-bottom: 0;
        .fa {
            color: $blue;
            position: absolute;
            left: 5px;
            font-size: 8px;
        }
        a {
            color: $black;
            text-decoration: none;
        }
        .name {
            font-size: 14px;
            line-height: 22px;
            display: block;
            font-weight: bold;
        }
        .time {
            font-size: 9px;
            float: right;
        }
        &:hover {
            background: rgba(0, 123, 255, 0.05);
        }
    }
}