.message {
    background: $white;
    padding: 2rem 1.5rem;
    height: 100vh;
    position: relative;
    .name {
        border-bottom: 2px solid #f7f7f7;
        font-size: 20px;
        font-weight: 900;
        width: 100%;
        height: 5vh;
        vertical-align: top;
        .fa {
            float: right;
        }
    }
    .content {
        width: 100%;
        height: 75vh;
        padding: 2rem 0;
        font-size: 12px;
        overflow-y: scroll;
        .patient {
            background: #EDEDED;
            padding: 2rem;
            border-radius: 20px;
            float: left;
            max-width: 35%;
            clear: both;
            margin-top: 1rem;
        }
        .practice {
            background: rgba(0, 123, 255, 0.10);
            padding: 2rem;
            border-radius: 20px;
            float: right;
            max-width: 35%;
            clear: both;
            margin-top: 1rem;
        }
        .failed {
            background: rgba(209, 71, 71, 0.10);
            padding: 2rem;
            border-radius: 20px;
            float: right;
            max-width: 35%;
            clear: both;
            margin-top: 1rem;
            position: relative;
            .status {
                font-size: 9px;
                /* float: right; */
                color: #D14747;
                display: block;
                text-align: right;
                margin-bottom: 0;
            }
        }
        .meta {
            position: relative;
            width: 100%;
            margin-bottom: 1rem;
            color: #888;
            .user-name {
                color: $blue;
                font-weight: bold;
                font-size: 14px;
                margin-right: 2rem;
            }
        }
    }
    .message-box {
        vertical-align: bottom;
        height: 10vh;
        width: 100%;
        border-top: 2px solid $light-gray;
        padding: 2rem 0;
        textarea {
            width: 100%;
        }
    }
}