.message {
    background: $white;
    padding: 2rem 1.5rem;
    height: 100vh;
    position: relative;
    .name {
        border-bottom: 2px solid #f7f7f7;
        font-size: 20px;
        font-weight: 900;
        width: 100%;
        height: 5vh;
        vertical-align: top;
        a {
            color: black;
        }
        .fa {
            float: right;
            margin-left: 2rem;
            &:hover {
                color: $blue;
            }
        }
        input {
            width: 100%;
            border: 0;
            opacity: 0.5;
        }
        #drop {
            display:none; /* Hide it first of all */
            background:#F8F8F8;
            border:1px solid #CCC;
            box-shadow:0 1px 3px rgba(0,0,0,0.15);
            position:absolute;
            top:46px;
            left:20px;
            width:200px;
            border-radius:3px;
            a {
                color: black;
                font-size: 13px;
            }
        }
    }
    .content {
        width: 100%;
        height: 70vh;
        padding: 2rem 0;
        font-size: 12px;
        overflow-y: scroll;
        @media only screen and (max-width: 1440px) {
            height: 60vh;
        }
        .patient {
            background: #EDEDED;
            padding: 2rem;
            border-radius: 20px;
            float: left;
            max-width: 35%;
            clear: both;
            margin-top: 1rem;
        }
        .practice {
            background: rgba(0, 123, 255, 0.10);
            padding: 2rem;
            border-radius: 20px;
            float: right;
            max-width: 35%;
            clear: both;
            margin-top: 1rem;
        }
        .failed {
            background: rgba(209, 71, 71, 0.10);
            padding: 2rem;
            border-radius: 20px;
            float: right;
            max-width: 35%;
            clear: both;
            margin-top: 1rem;
            position: relative;
            .status {
                font-size: 9px;
                /* float: right; */
                color: #D14747;
                display: block;
                text-align: right;
                margin-bottom: 0;
            }
        }
        .meta {
            position: relative;
            width: 100%;
            margin-bottom: 1rem;
            color: #888;
            .user-name {
                color: $blue;
                font-weight: bold;
                font-size: 14px;
                margin-right: 2rem;
            }
        }
    }
    .message-box {
        vertical-align: bottom;
        height: 15vh;
        width: 100%;
        border-top: 2px solid $light-gray;
        padding: 2rem 0;
        .limit {
            font-size: 10px;
            font-weight: 100;
            display: block;
            float: right;
        }
        textarea {
            width: 100%;
            border: 0;
            font-size: 11px;
            border-bottom: 1px solid $light-gray;
        }
    }
    .send {
        background: $blue;
        padding: .75rem 1.5rem;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        letter-spacing: 1px;
        display: inline-block;
        font-size: 12px;
        float: right;
        &:hover {
            opacity: 0.6;
        }
    }
    #loadNames {
        max-height: 500px;
        overflow-y: scroll;
    }
    .patients {
        position: absolute;
        top: 100%;
    }
}