.side-nav {
  object-fit: contain; }
  .side-nav img {
    max-width: 70px;
    width: 100%;
    object-fit: contain; }

.open-close {
  margin-top: 4rem; }
  .open-close h2 {
    font-size: 20px;
    color: #000;
    font-weight: 900; }
  .open-close .open, .open-close .closed {
    display: block;
    padding: 1rem 0; }
    .open-close .open .count, .open-close .closed .count {
      font-size: 12px;
      float: right; }
    .open-close .open .fa, .open-close .closed .fa {
      margin-right: 6px; }
    .open-close .open a, .open-close .closed a {
      color: #000;
      font-size: 16px;
      text-decoration: none; }
      .open-close .open a:hover, .open-close .open a:active, .open-close .closed a:hover, .open-close .closed a:active {
        color: #007BFF;
        font-weight: 900; }

.message-list {
  background: #fff;
  margin-top: 4rem;
  overflow-y: scroll;
  height: 100vh; }
  .message-list .search {
    padding: 1rem; }
    .message-list .search .fa {
      color: #2c2c2c; }
    .message-list .search input {
      border: 0;
      width: 85%; }
  .message-list .date {
    display: block;
    background: #ededed;
    font-size: 16px;
    width: 100%;
    padding: 1rem; }
  .message-list .preview {
    font-size: 12px;
    border-bottom: 1px solid #f7f7f7;
    list-style-type: none;
    padding: 2rem;
    position: relative;
    margin-bottom: 0; }
    .message-list .preview .fa {
      color: #007BFF;
      position: absolute;
      left: 5px;
      font-size: 8px; }
    .message-list .preview a {
      color: #000;
      text-decoration: none; }
    .message-list .preview .name {
      font-size: 14px;
      line-height: 22px;
      display: block;
      font-weight: bold; }
    .message-list .preview .time {
      font-size: 9px;
      float: right; }
    .message-list .preview:hover {
      background: rgba(0, 123, 255, 0.05); }

.message {
  background: #fff;
  margin: 4rem 0;
  padding: 2rem 1.5rem;
  height: 100vh;
  position: relative; }
  .message .name {
    border-bottom: 2px solid #f7f7f7;
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    height: 5vh;
    vertical-align: top; }
  .message .content {
    width: 100%;
    height: 75vh;
    padding: 2rem 0;
    font-size: 12px; }
    .message .content .patient {
      background: #EDEDED;
      padding: 2rem;
      border-radius: 20px;
      float: left;
      max-width: 35%;
      clear: both; }
    .message .content .practice {
      background: rgba(0, 123, 255, 0.1);
      padding: 2rem;
      border-radius: 20px;
      float: right;
      max-width: 35%;
      clear: both; }
      .message .content .practice .meta {
        position: relative;
        width: 100%;
        text-align: right;
        margin-bottom: 0.5rem; }
        .message .content .practice .meta .user-name {
          color: #007BFF;
          float: left;
          font-weight: bold; }
  .message .message-box {
    vertical-align: bottom;
    height: 10vh;
    width: 100%;
    border-top: 2px solid #f7f7f7;
    padding: 2rem 0; }
    .message .message-box textarea {
      width: 100%; }

html {
  height: 100vh;
  overflow: hidden; }

body {
  background: #f7f7f7;
  margin: 0;
  height: 100vh; }

.container {
  width: 100% !important;
  max-width: 100%;
  max-height: 100vh; }

.column, .columns {
  margin-left: 1%; }

/*# sourceMappingURL=main.css.map */
