@import 'colors';
@import 'side-nav';
@import 'open-close';
@import 'message-list';
@import 'message';


html {
    overflow: hidden;
}
body {
    background: $light-gray;
    margin: 0;
}
.container {
    width: 100% !important;
    max-width: 100%;
}
.column, .columns {
    margin-left: 1%;
}