<div id="closed" class="tab">
    <div class="date">Today</div>
    <ul id="myUL">
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Jacob Henderson</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Matt Porter</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Nikki Issacson</span>This is a message that is a preview...</a></li>
    </ul>
    <div class="date">Yesterday</div>
    <ul id="myUL2">
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</a></li>
    </ul>
</div>