<div class="patient">
    <p class="meta">May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="practice">
    <p class="meta"><span class="user-name">Susan Smith</span> May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="patient">
    <p class="meta">May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="patient">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="practice">
    <p class="meta"><span class="user-name">Susan Smith</span> May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="patient">
    <p class="meta">May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="patient">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="practice">
    <p class="meta"><span class="user-name">Susan Smith</span> May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="failed">
    <p class="meta"><span class="user-name" style="color: black!important;">Susan Smith</span> May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
    <p class="status">Message failed to send...</p>
</div>
<a class="try-again" href="#">Try Again</a>
<div class="loading">
   Sending <div class="lds-ellipsis"><div>
</div>

<script type="text/javascript">
    $('#content').scrollTop($('#content')[0].scrollHeight);
</script>