<div class="patient">
    <p class="meta">May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="practice">
    <p class="meta"><span class="user-name">Susan Smith</span> May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="patient">
    <p class="meta">May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="patient">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="practice">
    <p class="meta"><span class="user-name">Susan Smith</span> May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="patient">
    <p class="meta">May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="patient">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="practice">
    <p class="meta"><span class="user-name">Susan Smith</span> May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>
<div class="practice failed">
    <p class="meta"><span class="user-name">Susan Smith</span> May 5th, 10:20 AM</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum diam at ullamcorper hendrerit.
</div>

<script type="text/javascript">
    function updateScroll(){
    var element = document.getElementById("content");
    element.scrollTop = element.scrollHeight;
}
</script>