<div id="open-messages myUL">
    <div class="date">Today</div>
    <ul id="myUL">
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Jacob Henderson</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
    </ul>
    <div class="date">Yesterday</div>
    <ul>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Weston Lunsford</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</li>
        <li class="preview"><span class="time">11:47 A.M.</span><span class="name">Matt Porter</span>This is a message that is a preview...</li>
    </ul>
</div>