<div id="open-messages">
    <div class="date">Today</div>
    <ul id="myUL">
        <li class="preview"><a href="#"><i class="fa fa-circle" aria-hidden="true"></i><span class="time">11:47 A.M.</span><span class="name">Pete Browne</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><i class="fa fa-circle" aria-hidden="true"></i><span class="time">11:47 A.M.</span><span class="name">Jacob Henderson</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Cole Parker</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><i class="fa fa-circle" aria-hidden="true"></i><span class="time">11:47 A.M.</span><span class="name">Nikki Isaacson</span>This is a message that is a preview...</a></li>
    <div class="date">Yesterday</div>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Daniel Sandersn</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Chris Worsley</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Weston Lunsford</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Cole Parker</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Justin Battenfield</span>This is a message that is a preview...</a></li>
        <li class="preview"><a href="#"><span class="time">11:47 A.M.</span><span class="name">Matt Porter</span>This is a message that is a preview...</a></li>
    </ul>
</div>